.crypto-img {
  width: 3rem;
  height: 2rem;
  object-fit: contain;
}
.crypto-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.input-container {
  padding: 1rem;
  width: 100%;
}
.input-container > Input {
  border: 0;
  padding: 0.3rem;
}
.input-container > Input:focus {
  outline: none;
}
