.heading {
  margin: 1rem 0;
  margin-bottom: 2rem;
  color: #333;
}
.home-container {
  display: flex;
  flex-direction: column;
}
.global-stats {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.top-cryptos,
.crypto-news {
  display: flex;
  justify-content: space-between;
}
.footer {
  background-color: rgb(0, 21, 41);
  padding: 1rem;
  text-align: center;
}
